{% extends 'app/base.html' %} {% block body %}

<form action="{% url 'population' %}" method="GET" class="col-3">
    <div class="form-group">
        <label>
            Population
            <input
                type="number"
                name="population"
                class="form-control"
                placeholder="Population"
            />
        </label>
    </div>
    <div class="form-group">
        <label>
            Area
            <input
                type="number"
                name="area"
                class="form-control"
                placeholder="Area"
            />
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    {% if answer is not None %}
    <h3>Answer: {{ answer }}</h3>
    {% endif %}
</form>

{% endblock body %}
