{% extends 'app/base.html' %} {% block body %}

<form action="{% url 'walk_or_drive' %}" method="GET" class="col-3">
    <div class="form-group">
        <label>
            input1
            <input
                type="number"
                step="0.01"
                name="miles"
                class="form-control"
                placeholder="miles"
            />
        </label>
    </div>
    <div class="form-group">
        <label>
            input2 <input type="checkbox" name="weather" class="form-control" />
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    {% if answer is not None %}
    <h3>Answer: {{ answer }}</h3>
    {% endif %}
</form>

{% endblock body %}
